body {
    background-color: hwb(21 0% 0%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100x;
    margin: 0;

}

.card {
    background-color: rgb(255, 255, 255);
    width: 10px;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
    text-align: center;
    border: 1px solid #add;

}

.card img {
    background-color: aquamarine;
    color: #add;
    border: none;
    padding: 5px 5px;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

button {
    background-color: rgb(220, 96, 2);
    color: rgb(230, 95, 6);
    border: none;
    padding: 10px 20px;
    border-radius: 5px ;
    cursor: pointer;
    transition: background 0.3s;

}